<div class="flex flex-wrap min-h-screen">
    <div class="w-8/12 pl-36 pr-16 py-10">
        <p class="text-2xl font-bold">We'd like to get to know you!</p>
        <div class="flex flex-wrap justify-between gap-y-12 [ py-8 ]">
            <div class="flex flex-wrap items-center w-full">
                <p class="w-1/4 font-semibold">Company Name</p>
                <input type="text" class="border w-1/2 rounded-md [ p-2 ]" placeholder="Daisy" />
            </div>
            <div class="flex flex-wrap items-start w-full">
                <p class="w-1/4 font-semibold">Business Address</p>
                <textarea type="text" rows="4" class="border grow rounded-md [ p-2 ]" placeholder="Daisy"></textarea>
            </div>
            <div class="flex flex-wrap items-center w-full">
                <p class="w-1/4 font-semibold">Industry</p>
                <input type="text" class="border w-1/2 rounded-md [ p-2 ]" placeholder="Daisy" />
            </div>
            <div class="flex flex-wrap items-start w-full">
                <p class="w-1/4 font-semibold">Brief Background on your business</p>
                <textarea type="text" rows="4" class="border grow rounded-md [ p-2 ]" placeholder="Daisy"></textarea>
            </div>
            <!-- <div class="flex flex-wrap items-center w-full">
                <p class="w-1/4 font-semibold">Mobile Number</p>
                <input type="text" class="border w-1/2 rounded-md [ p-2 ]" placeholder="Daisy" />
            </div>
            <div class="flex flex-wrap items-center w-full">
                <p class="w-1/4 font-semibold">Email</p>
                <input type="text" class="border w-1/2 rounded-md [ p-2 ]" placeholder="Daisy" />
            </div> -->
            <div class="flex flex-wrap items-start w-full">
                <div class="justify-start w-1/4">
                    <div class="skeleton h-8 w-1/2"></div>
                </div>
                <div class="flex flex-col grow gap-y-2">
                    <div class="skeleton h-8 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    
                </div>
            </div>
            <div class="flex flex-wrap items-start w-full">
                <div class="justify-start w-1/4">
                    <div class="skeleton h-8 w-1/2"></div>
                </div>
                <div class="flex flex-col grow gap-y-2">
                    <div class="skeleton h-8 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    
                </div>
            </div>
            <div class="flex flex-wrap items-start w-full">
                <div class="justify-start w-1/4">
                    <div class="skeleton h-8 w-1/2"></div>
                </div>
                <div class="flex flex-col grow gap-y-2">
                    <div class="skeleton h-8 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    
                </div>
            </div>
            <!-- <div class="w-full">
                <label class="flex items-center gap-20">
                    Company Name
                    <input type="text" class="border grow rounded-md [ p-2 ]" placeholder="Daisy" />
                </label>
            </div>
            <div class="w-full">
                <label class="flex items-center gap-20">
                    Industry
                    <input type="text" class="border grow rounded-md [ p-2 ]" placeholder="Daisy" />
                </label>
            </div>
            <div class="w-full">
                <label class="flex items-center gap-20">
                    Brief Background on your Business
                    <input type="text" class="border grow rounded-md [ p-2 ]" placeholder="Daisy" />
                </label>
            </div> -->
        </div>
        
    </div>
    <div class="w-4/12">
        <app-order-summary></app-order-summary>
    </div>
</div>