<div class="flex flex-wrap min-h-screen">
    <div class="flex w-full justify-center [ py-8 px-40 ]">
        <ul class="steps">
            <li class="step step-neutral [ px-20 ]">Choose a Template</li>
            <li class="step step-neutral">Find your Domain Name</li>
            <li class="step step-neutral">Select Add Ons</li>
            <li class="step step-neutral">Business Information</li>
            <li class="step step-neutral">Get a Quotation</li>
            <li class="step step-neutral">Send an Appointment</li>
          </ul>
    </div>
    <div class="w-6/12 pl-36 pr-16 py-10">
        <img src="https://images.unsplash.com/photo-1511376979163-f804dff7ad7b?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    </div>
    <div class="w-6/12 py-10">
        <p class="text-2xl font-bold [ pb-10 ]">We'd love to discuss more details with you</p>
        <p class="text-lg font-bold">1. Select an available date</p>
        <div class="flex flex-wrap justify-between gap-y-12 [ py-8 pb-10 ]">
            <input class="border w-1/2 rounded-sm p-2" type="date" id="birthday" name="birthday">
        </div>
        <p class="text-lg font-bold">2. Additional Notes</p>
        <div class="flex flex-wrap justify-between gap-y-12 [ py-8 pr-40 ]">
            <textarea class="border w-1/2 grow rounded-sm p-2" type="date" rows="10"></textarea>
        </div>
        <div class="flex justify-end [ pt-10 px-40 ]">
            <button class=" bg-slate-950 text-white rounded-full px-5 py-2">Book Appointment</button>
        </div>
        
    </div>
</div>