<div class="flex flex-wrap min-h-screen">
    <div class="w-8/12 pl-36 pr-16 py-10">
        <p class="text-2xl font-bold">Your website's quotation</p>
        <div class="flex flex-wrap justify-between gap-y-12 [ py-8 ]">
            <div class="flex flex-wrap items-start justify-between w-full">
                <div class="flex flex-col w-1/2 gap-y-2">
                    <div class="skeleton h-8 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    
                </div>
                <div class="justify-end w-1/6">
                    <div class="skeleton h-8"></div>
                </div>
            </div>
            <!-- <div class="flex flex-wrap items-start justify-between w-full">
                <div class="flex flex-col w-1/2 gap-y-2">
                    <div class="skeleton h-8 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    
                </div>
                <div class="justify-end w-1/6">
                    <div class="skeleton h-8"></div>
                </div>
            </div> -->
            <div class="flex flex-wrap items-start justify-between w-full">
                <div class="flex flex-col w-1/2 gap-y-2">
                    <div class="skeleton h-8 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    
                </div>
                <div class="justify-end w-1/6">
                    <div class="skeleton h-8"></div>
                </div>
            </div>
            <div class="flex flex-wrap items-start justify-between w-full">
                <div class="flex flex-col w-1/2 gap-y-2">
                    <div class="skeleton h-8 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    <div class="skeleton h-4 w-full"></div>
                    
                </div>
                <div class="justify-end w-1/6">
                    <div class="skeleton h-8"></div>
                </div>
            </div>
        </div>
        <p class="text-2xl font-bold">Some Reminders</p>
        <div class="flex flex-wrap justify-between gap-y-4 [ py-8 ]">
            <div class="collapse bg-base-200">
                <input type="radio" name="my-accordion-1" checked="checked" />
                <div class="collapse-title text-xl font-medium">Reminder #1</div>
                <div class="collapse-content">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad maiores totam repellat dignissimos voluptatem, expedita dolores distinctio sunt cum laboriosam nulla iure architecto amet dolorum aliquid doloribus ipsam delectus enim!</p>
                </div>
            </div>
            <div class="collapse bg-base-200">
                <input type="radio" name="my-accordion-1" />
                <div class="collapse-title text-xl font-medium">Reminder #2</div>
                <div class="collapse-content">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt repellat ducimus sit velit nostrum in possimus adipisci libero error similique earum, eveniet expedita, voluptate labore culpa placeat! Aliquam, voluptatem. Dignissimos!</p>
                </div>
            </div>
            <div class="collapse bg-base-200">
                <input type="radio" name="my-accordion-1" />
                <div class="collapse-title text-xl font-medium">Reminder #3</div>
                <div class="collapse-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam cumque aperiam in, est numquam quidem optio delectus hic blanditiis magni? Quibusdam neque nisi ex omnis soluta aspernatur earum laboriosam aperiam!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w-4/12">
        <app-order-summary></app-order-summary>
    </div>
</div>