<div class="flex flex-wrap min-h-screen">
    <div class="flex w-full justify-center [ py-8 px-40 ]">
        <ul class="steps">
            <li class="step step-neutral [ px-20 ]">Choose a Template</li>
            <li class="step step-neutral">Find your Domain Name</li>
            <li class="step step-neutral">Select Add Ons</li>
            <li class="step step-neutral">Business Information</li>
            <li class="step step-neutral">Get a Quotation</li>
            <li class="step step-neutral">Send an Appointment</li>
          </ul>
    </div>
    <div class="w-full px-40">
        <p class="text-center ">We have successfully booked your appointment</p>
    </div>

</div>