<div class="block [ sm:px-12 pt-12 ]">
    <ul class="steps w-full">
        <li class="step step-neutral text-xs sm:text-sm">Choose your Template</li>
        <li class="step text-xs sm:text-sm">Find your Domain Name</li>
        <li class="step text-xs sm:text-sm">Select Add Ons</li>
        <li class="step text-xs sm:text-sm">Business Information</li>
        <li class="step text-xs sm:text-sm">Schedule Appointment</li>
      </ul>
</div>
<div class="[ pl-6 sm:pl-6 md:px-8 lg:pl-20 xl:px-40  ] px-6">

    <div class="flex flex-wrap">
        <div class="w-full">
            <p class="text-2xl font-bold [ py-10 ]">{{selected_template?.template_name}}</p>
        </div>
        <div class="w-full sm:w-1/2 border border-gray-200 rounded-lg h-[35rem] overflow-hidden">
            <img class="w-full rounded-lg object-cover object-top" src="{{selected_template?.asset_url}}" alt="">
        </div>
        <div class="w-full pt-10 sm:w-1/2 [ sm:pl-10 ]">
            <p class="text-2xl font-bold">{{selected_template?.template_name}} Template</p>
            <!-- <div class="badge badge-ghost">Technology</div> -->
            <p class="[ pt-5 ]">{{selected_template?.description}}</p>
            <p class="[ pt-5 ]"><span class="font-semibold">Perfect for: </span> {{selected_template?.target}}</p>
            <p class="[ pt-5 pb-10 ]"><span class="font-semibold">Customizable Features: </span> {{selected_template?.customizable}}</p>
            <!-- <button class="rounded-lg bg-slate-900 text-white [ px-6 py-2 ]" routerLink="/pages/domain/search" [queryParams]="{step: '2'}">Choose Template</button> -->
            <button class="rounded-lg bg-slate-900 text-white [ px-6 py-2 ]" (click)="selectTemplate()">Choose Template</button>
        </div>
    </div>
    <div class="flex flex-wrap [ pb-16 ]">
        <div class="w-full">
            <p class="text-2xl font-bold [ pt-20 pb-5 ]">You might also like</p>
        </div>
        @for (element of other_templates; track $index) {
            <div class="w-full sm:w-1/2 [ p-4 ]">
                <div class="relative w-full h-[25rem] mx-auto px-5 py-8 group rounded-md bg-gray-200 overflow-hidden shadow-xl">
                    <img src={{element.asset_url}} alt="" class="absolute w-full h-full inset-0 object-cover object-top">
                    <div
                        class="absolute inset-0 w-full h-full rounded-md bg-black bg-opacity-0 transition duration-500 backdrop-filter group-hover:bg-opacity-70 group-hover:backdrop-blur">
                    </div>
                    <div class="absolute inset-x-5 text-white">
                        <!-- <h2 class="text-4xl font-semibold mb-2">Template 1</h2>
                        <p class="text-sm font-medium uppercase tracking-wider mb-6">Free</p> -->
                        <p class="hidden group-hover:block">{{ element.blurb }}</p>
                    </div>
                    <button class="absolute inset-x-5 bottom-8 py-3 rounded-full font-semibold bg-white shadow-lg hidden transition duration-200 hover:bg-gray-300 group-hover:block" [routerLink]="['/pages/template/view/', element._id]" [queryParams]="{step: '2'}">View Template</button>
                    
                </div>
                <div class="flex flex-wrap justify-center items-center [ px-1 py-4 ]">
                    <!-- <p class="w-full text-base text-center font-semibold text-slate-900 pb-2">{{element.template_name}}</p> -->
                    <button class="w-full text-white bg-slate-900 rounded-lg text-sm font-normal [ py-2 px-4 ]" [routerLink]="['/pages/template/view/', element._id]" [queryParams]="{step: '2'}">View Template</button>
                </div>
            </div>
        }
    </div>
</div>